<?php
if (session_status() == PHP_SESSION_NONE) {
    session_start();
}
$isLoggedIn = isset($_SESSION['user_email']);
$isAdmin = isset($_SESSION['role']) && $_SESSION['role'] === 'admin';
?>
<button class="menu-button" onclick="toggleMenu()">☰</button>
<div class="menu">
    <ul>
        <li><img src="../../../app/dist/img/logo.svg" alt="Logo" class="logo"></li>
        <?php if ($isLoggedIn): ?>
            <li><a href="/profil">Profil</a></li>
            <?php if ($isAdmin): ?>
                <li><a href="/dashboard" class="button button-orange">Dashboard</a></li>
            <?php endif; ?>
            <li><a href="/reserved" class="button button-orange">Intervention</a></li>
            <li><a href="/logout" class="button button-green-pale">Se déconnecter</a></li>
        <?php else: ?>
            <li><a href="/login">Se connecter</a></li>
        <?php endif; ?>
    </ul>
</div>

<script>
    function toggleMenu() {
        document.querySelector('.menu').classList.toggle('active');
        document.querySelector('.menu-button').classList.toggle('active');
    }   
</script>