<?php
    if (session_status() == PHP_SESSION_NONE) {
        session_start();
    }
    $isLoggedIn = isset($_SESSION['user_email']);
    $isAdmin = isset($_SESSION['role']) && $_SESSION['role'] === 'admin';
?>
<section class="menu-button-container">
    <img src="/dist/img/logo.png" alt="Logo" class="logo">
    <button class="menu-button" onclick="toggleMenu()">☰</button>
</section>
<div class="menu">
    <ul class="container">
        <li class="logo logo-mob"><img src="/dist/img/logo.png" alt="Logo"></li>

        <ul class="utilisateur-menu">
            <?php if ($isLoggedIn): ?>
                <?php if (!$isAdmin): ?>
                    <li><a href="/interventions">Interventions</a></li>
                <?php endif; ?>
                    <li><a href="/profil">Profil</a></li>
                <?php if ($isAdmin): ?>
                    <li><a href="/admin" class="button button-orange">Dashboard</a></li>
                <?php else: ?>
                    <li><a href="/reserved" class="button button-orange">Demander une intervention</a></li>
                <?php endif; ?>
            <?php else: ?>
        </ul>
            <li><a href="/login">Se connecter</a></li>
        <?php endif; ?>
    </ul>
</div>

<script>
    function toggleMenu() {
        document.querySelector('.menu').classList.toggle('active');
        document.querySelector('.menu-button').classList.toggle('active');
    }
</script>