<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="dist/css/output.css" />
    <title>Inscription Utilisateur</title>
</head>
<body>
    <h1>Inscription Utilisateur</h1>
    <div class="container-form">
        <form action="/register" method="POST">
            <input type="hidden" name="role" value="utilisateur">
            <input type="text" name="nom" placeholder="Nom" required>
            <input type="text" name="prenom" placeholder="Prénom" required>
            <input type="email" name="email" placeholder="Email" required>
            <input type="text" name="telephone" placeholder="Téléphone" required>
            <input type="password" name="motDePasse" placeholder="Mot de passe" required>
            <button type="submit">S'inscrire</button>
        </form>
        <p>Vous êtes technicien ? <a href="/register-technicien" class="button button-primary">Inscrivez-vous ici</a></p>
        <a href="/login">Déjà inscrit ?</a>
    </div>
</body>
</html>