<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="dist/css/output.css" />
    <link rel="icon" type="image/x-icon" href="/dist/img/favicon.png">
    <title>Réservation</title>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const services = <?= json_encode($services, JSON_HEX_TAG) ?>;
            const technicians = <?= json_encode($technicians, JSON_HEX_TAG) ?>;
            const dureeService = {
                1: 60,
                2: 90,
                3: 120
            };

            const serviceSelect = document.getElementById('idService');
            const tarifElement = document.getElementById('tarif');
            const tarifInput = document.getElementById('tarifInput');

            serviceSelect.addEventListener('change', function () {
                const selectedServiceId = parseInt(serviceSelect.value);
                const selectedService = services.find(service => service.id === selectedServiceId);
                if (selectedService) {
                    tarifElement.textContent = selectedService.tarifMinimum;
                    tarifInput.value = selectedService.tarifMinimum;
                }
            });

            services.forEach(service => {
                const option = document.createElement('option');
                option.value = service.id;
                option.textContent = service.nom;
                serviceSelect.appendChild(option);
            });

            if (services.length > 0) {
                tarifElement.textContent = services[0].tarifMinimum;
                tarifInput.value = services[0].tarifMinimum;
            }

            const technicianSelect = document.getElementById('idTechnicien');
            technicians.forEach(technician => {
                const option = document.createElement('option');
                option.value = technician.id;
                option.textContent = `${technician.nom} ${technician.prenom} (${technician.plageHoraireDebut} - ${technician.plageHoraireFin})`;
                technicianSelect.appendChild(option);
            });
        });

        function showStep1() {
            document.getElementById('step1').style.display = 'block';
            document.getElementById('step2').style.display = 'none';
            document.getElementById('bullet1').classList.add('active');
            document.getElementById('bullet2').classList.remove('active');
        }

        function showStep2() {
            document.getElementById('step1').style.display = 'none';
            document.getElementById('step2').style.display = 'block';
            document.getElementById('bullet1').classList.remove('active');
            document.getElementById('bullet2').classList.add('active');
        }
    </script>
</head>

<body>
    <div class="step-reserved">
        <div class="progress-indicators">
            <div id="bullet1" class="bullet active"></div>
            <div id="bullet2" class="bullet"></div>
        </div>
        <h1>Votre demande d'intervention</h1>

        <form id="step1" action="/reserved" method="post">
            <h2 class="tarif">Prix: <span id="tarif"></span>€</h2>
            <input type="hidden" id="tarifInput" name="tarif">

            <div class="form-group">
                <label for="idService">Service:</label>
                <select id="idService" name="idService" required></select>
            </div>

            <div class="form-group">
                <label for="dateDemande">Date de la demande:</label>
                <input type="date" id="dateDemande" name="dateDemande" required>
            </div>

            <div class="form-group">
                <label for="lieuIntervention">Lieu d'intervention:</label>
                <input type="text" id="lieuIntervention" name="lieuIntervention" placeholder="rue, code postal, ville" required>
            </div>

            <div class="form-group">
                <label for="vehicule">Véhicule:</label>
                <input type="text" id="vehicule" name="vehicule" placeholder="marque, modèle" required>
            </div>

            <div class="form-group">
                <label for="horaireDebut">Heure de début:</label>
                <input type="time" id="horaireDebut" name="horaireDebut" required>
            </div>

            <div class="btn mt-8">
                <a href="/profil" class="button button-green">Annuler</a>
                <button type="submit" class="button button-orange">Suivant</button>
            </div>
        </form>

        <form id="step2" action="/select-technician" method="post" style="display:none;">
            <div class="form-group">
                <label for="idTechnicien">Technicien:</label>
                <select id="idTechnicien" name="idTechnicien" required></select>
            </div>

            <div class="btn mt-8">
                <button type="button" onclick="showStep1()" class="button button-green">Retour</button>
                <button type="submit" class="button button-orange">Réserver</button>
            </div>
        </form>
    </div>
</body>

</html>