<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="dist/css/output.css" />
    <link rel="icon" type="image/x-icon" href="/dist/img/favicon.png">
    <title>Validation de l'e-mail</title>
</head>
<body class="bg-green profile">
    <div class="container-form">
        <h1>Validation de l'e-mail</h1>
        <div class="card">
            <p>Votre e-mail a été validé avec succès ! Vous pouvez maintenant vous connecter.</p>
            <a href="/login" class="button button-orange">Se connecter</a>
        </div>
    </div>
</body>
</html>