@use "../partials/variables" as v;
@use "../partials/functions" as f;

@layer components {
    .menu {
            position: fixed;
            padding: f.rem(30);
            background-color: var(--green);
            top: 0;
            height: 100%;
            display: flex;
            flex-direction: column;
            border-radius: 0;
            border-top-right-radius: f.rem(20);
            border-bottom-right-radius: f.rem(20);

        & ul {
            padding: 0;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 100%;
            gap: f.rem(20);

            & li {
                list-style: none;
                padding: f.rem(8) f.rem(10);
                border-radius: f.rem(6);

                & a {
                    color: var(--beige);
                
                    &:hover:not(.button) {
                        color: var(--orange);
                    }
                }
            }
        }
    }
}