@use "../partials/variables" as v;
@use "../partials/functions" as f;

@layer components {
    .menu {
        position: fixed;
        top: 0;
        right: 0;
        height: 100%;
        width: 100%;
        background-color: var(--green);
        border-radius: 0;
        padding: f.rem(20);
        transform: translateX(100%);
        transition: transform 0.3s ease-in-out;
        z-index: 1000;

        &.active {
            transform: translateX(0);
        }

        & ul {
            flex-direction: column;
            align-items: flex-start;
            gap: f.rem(10);
            padding: 0;
            max-width: 100%;
            margin: 0;

            & li {
                list-style: none;
                padding: f.rem(8) f.rem(10);
                border-radius: f.rem(6);

                & a:not(.button) {
                    color: var(--beige);

                    &:hover:not(.button) {
                        color: var(--orange);
                    }
                }
            }
        }
    }

    .menu-button {
        display: block;
        position: fixed;
        top: f.rem(20);
        right: f.rem(20);
        background-color: var(--green);
        color: var(--beige);
        border: none;
        padding: f.rem(10);
        border-radius: f.rem(6);
        cursor: pointer;
        z-index: 1001;

        &.active {
            background-color: var(--orange);
        }
    }

    @media (min-width: 601px) {
        .menu {
            display: block;
            position: fixed;
            top: f.rem(30);
            width: 100%;
            transform: none;
            transition: none;
            height: auto;
            padding: 0;
            background-color: transparent;

            & ul {
                flex-direction: row;
                justify-content: space-between;
                padding: f.rem(10) f.rem(100);
                background-color: var(--green);
                border-radius: f.rem(20);
                max-width: 80%;
                margin: auto;
                display: flex;
                align-items: center;
                gap: f.rem(20);
            }
        }

        .menu-button {
            display: none;
        }
    }
}