@use "../partials/functions" as f;
@use "sass:color";
@use "../partials/variables" as v;
@layer pages {
    h1 {
        color: var(--orange);
        text-align: center;
        margin-bottom: f.rem(50);
    }

    h2 {
        color: var(--orange);
    }

    .container-addresse-voiture {
        margin: f.rem(50) 0;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: f.rem(40);
    }

    .card {
        border-radius: f.rem(20);
        background-color: var(--green-pale);
        padding: f.rem(30);
        
        & p {
            color: var(--black);
            margin: 0;
        }
    }

    form {
        & button.button {
            margin: f.rem(20) 0;
            padding: f.rem(10) f.rem(20);
        }
    }
}