@use "fonts" as f;
@use "sass:color";
@use "variables" as v;
@layer base {
	:root {
		@each $name, $value in v.$colors {
			--#{$name}: #{$value};
			--#{$name}-hover: #{color.scale($value, $lightness: 10%)};
			--#{$name}-transparent: #{color.change($value, $alpha: 40%)};
		}
	}

	* {
		transition: all 0.5s;
	}

	body {
		font-family: f.$font1;
		background-color: var(--beige);
		// display: flex;

		@media (max-width: 600px) {
			&.cover	{
				background-color: var(--green);
			}
		}
	}

	.mx-auto {
		margin: auto;
	}

	.highlight {
		font-weight: bold;
	}

	a {
		text-decoration: none;
	}
}
